{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ etablissement.nom }}</h1>
    <h2>Licenciés</h2>
    <ul>
        {% for licencie in licencies %}
            <li>{{ licencie.nom }} {{ licencie.prenom }}</li>
        {% endfor %}
    </ul>
{% endblock %}
